# Project folders
service_accounts/

# Compiled Python files
__pycache__/

# Python scripts, logs
dist/
build/
*.log

# Virtual environment
venv/
.env

# IDE files
.vscode/
.idea/

# Ignore generated PDFs or other files
*.pdf
*.csv
